body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  color: var(--primary-title-color);
  font-size: 14px;
}

.link {
  text-decoration: none;
  display: block;
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
}

.h1.h2.h3 {
  margin: 0px;
}

.margin-zero {
  margin: 0px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main {
  margin-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ececec;
}



  .navigation-list-item {
    position: relative;
  }

  .text-wrapper {
    color: var(--accent-color);
  }

  .current {
    color: var(--accent-color);
  }

  .current:after {
    content:"";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }


  .logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    margin-right: 85px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .logo-part {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
  }


  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-list-link:hover,
  .navigation-list-link:focus {
    color: var(--accent-color);
    outline: 1px;
    outline-color: transparent;
  }

  .contacts-link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-text-color);
  }

  .contacts-item:not(:last-child) {
    margin-right: 30px;
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--accent-color);
  }

  .link-svg {
    margin-right: 10px;
    fill: currentColor;
  }

  .hero {
    max-width: 1600px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../Images/Header.jpg);
    /* background-color: rgb(70, 75, 75); */
    border: 1px solid #000000;
    box-sizing: border-box;
    height: 600px;
    text-align: center;
    padding-top: 200px;
    margin: 0px;
  }
  .main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
  }
  .button-primary {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    border-radius: 5px;
    background-color: var(--accent-color);
    min-width: 200px;
    height: 50px;
    border: 1px solid transparent;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .backdrop {
  position: fixed;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* width: 100%;
  height: 100%; */
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0 ;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;


  background-color: #ffffff;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button-send {
 width: 200px;
 height: 50px;
 background-color: var(--accent-color);
 font-family: Roboto;
 font-style: bold;
 font-size: 16px;
 line-height: 1.88;
 letter-spacing: 0.6;
 color: #FFFFFF
}

.modal-button-close {

}

  /* Why are we */

  .mar-bot-container {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .feature-list {
    display: flex;
    list-style: none;
    padding: 0px;
  }
  .feature-list-link {
    width: 270px;
    height: 120px;
    background-color: var(--secondary-white-color);
  }
  .feature-list-svg {
    padding: 25px 100px;
  }
  .feature-list-item:not(:last-child) {
    margin-right: 30px;
  }
}
.feature-list-header {
  font-family: Roboto;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  
}

.feature-list-icon-svg {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  width: 70px;
  height: 70px;
}

.feature-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.what-we-do-wrapper {
  padding-bottom: 94px;
}

.what-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-top: 0px;
  margin-bottom: 50px;
  /* margin: 0px; */
}

.what-we-do-list:not(:last-child) {
  margin-right: 30px;
}
.what-we-do-description {
  font-weight: 700;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px;
  display: block;
  color: var(--primary-white-color);
}

.what-we-do-img {
  position: relative;
}

.what-we-do-link {
  position: absolute;
  bottom: 0px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

/* Team */

.team {
  padding-top: 94px;
}

.team-wrapper {
  background-color: #F5F4FA;
  padding-bottom: 94px;
  padding-left: 74px;
  padding-right: 74px;
  
}

.team-contacts:not(:last-child) {
  margin-right: 30px;
}

.team-contacts {
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-social-links {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: center;
  margin-bottom: 24px;
}

.team-social-links-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
transition: background-color 250ms var(--transition-time-function);}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-icons-link-svg:hover,
.social-icons-link-svg:focus {
  background-color: var(--accent-color);
}

.social-icons-link-svg:hover .social-icons-svg,
.social-icons-link-svg:focus .social-icons-svg {
  fill: var(--primary-white-color);
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-top: 94px;
  margin-bottom: 50px;
}
.teammate {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 16px;
}
.team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Clients */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 50px;
  margin-top: 0px;
  padding-top: 94px;
}

.clients-container-item {
  display: flex;
  border: solid 1px;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border-color: #afb1b8;
  border-radius: 4px;
  transition: color 250ms var(--transition-time-function);

}

.clients-container-item:not(:last-child) {
  margin-right: 30px;
}

.clients-container-item:hover,
.clients-container-item:focus {
  border-color: var(--accent-color);
}

.client-icon-svg {
  fill: #afb1b8;
transition: fill 250ms var(--transition-time-function);
}

.clients-container-item:hover .client-icon-svg,
.clients-container-item:focus .client-icon-svg {
  fill: var(--accent-color);
}

.clients-marg {
  margin-bottom: 94px;
}

/* Footer */

.footer {
  height: 252px;
  background-color: var(--footer-background-color);
  display: flex;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-wrapper {
  display: block;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.join-us-item {
  padding-bottom: 20px;
}
.footer-adress-list {
  padding: 0px;
  list-style: none;
}

.footer-address-list-item:not(:last-child) {
  padding-bottom: 9px;
}
.address-color {
  color: #ffffff;
}
.join-us-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
.join-us-social-links {
  padding-top: 72px;
  padding-bottom: 100px;
  padding-left: 69px;
}

.social-icon-footer-link:hover,
.social-icon-footer-link:focus {
  background-color: var(--accent-color);
}

.social-icons-footer:not(:last-child) {
  margin-right: 10px;
}

.social-icon-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--transition-time-function);
}

.social-icons-footer-svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

/* .sign-in-footer {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  width: 570px;
  height: 46px;
  padding-top: 72px;
  padding-right: 216px;
}

.sign-in-footer-list {
  list-style: none;
  margin: 0px;
} */

/* .button-footer {
  display: inline-flex;
  border: none;
  margin: 0px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  color: #FFFFFF;
} */

/* .button-footer > .icon {
  width: 20px;
  height: 20px;
  background-image: url(../Images/sprite.svg#icon-send);
  background-size: contain;
} */

/* .button-footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-footer-wrapper {
  margin-top: 20px;
} */


/* Portfolio */

.header-portfolio {
  padding-bottom: 93px;
}

.services-list-container {
  padding-bottom: 94px;
}

.what-do-we-do {
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-bottom: 50px;
}

.what-do-we-do-buttons {
  display: flex;
  justify-content: center;
  padding-top: 93px;
  margin-bottom: 34px;
}

.what-we-do-buttons {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-color: #afb1b8;
  margin: 0px;
}

.what-we-do-buttons:not(:last-child) {
  margin-right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-secondary {
  height: 38px;
  padding: 6px 22px;
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: 250ms var(--transition-time-function);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 3px 1px rgba(0, 0, 0, 0.1);
}




.services-list {
  justify-content: center;
  align-items: center;
}

.project-list {
  flex-wrap: wrap;
  padding: 0px;
}

.project-list-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.project-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-list-link {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  /* box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12); */
}

.project-list-link:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.samples {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-left: 24px;
}
.samples-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 24px;
  margin-bottom: 20px;
}
.samples-description-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: all 0.5s linear;
}

.project-list-item:hover .overlay {
  top: 0;
}

.image-description-wrapper {
  position: relative;
  overflow: hidden;
}

.address {
  font-style: normal;
}
.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}




